:root {
    --color-white: #fff;
    --color-black: #1a1a1a;
    --color-gray: #ccc;
    --color-pink: #ebceca;
    --font-serif: 'Sangbleu', serif;
    --font-sans-serif: 'Heebo', sans-serif;
    }

@font-face {
    font-family: Sangbleu;
    src: url(../fonts/SangBleuEmpire-Regular-WebTrial.woff);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /**
  *  Typography
  */

body {
  font-family: var(--font-sans-serif);
  margin: 2em;
  line-height: 1.6;
  font-size: 20px;
  font-weight: 400;
}
h1 {
  font-family: var(--font-serif);
  line-height: 1.2;
}
h2, h3 {
  font-weight: 400;
}
li {
  list-style: none;
}
.copyright {
  color: var(--color-white);
}
.button {
  font-size: 0.6em;
  border-bottom: 0.1em solid var(--color-black);
}
.button--bigger {
  font-size: 1em;
}
.action-button {
  margin: 0;
}
.button--subscribe {
  border-bottom: none;
  border: 0.125rem solid var(--color-black);
  padding:  0.4375rem 1rem;
  font-size: 0.8em;
}
.button--subscribe:hover {
  background: var(--color-black);
  color: var(--color-white);
}
.centered-text {
  text-align: center;
}
a {
  color: var(--color-black);
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
.sid {
  font-family: var(--font-sans-serif);
  font-weight: 600;
  font-size: 1.3em;
}
.lee {
  font-family: var(--font-serif);
  font-size: 1.3em;
  font-weight: bold;
}
/**
* .component
*/

.component-page {
  margin: 4em;
}
.component__title {
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.4em;
  text-transform: uppercase;
  margin-bottom: 0;
}
.component__title--sub {
  background: var(--color-pink);
  color: var(--color-black);
  font-weight: lighter;
  text-transform: lowercase;
  margin-top: 0;
}
.component__img {
  border: 1px solid var(--color-gray);
  overflow-x: auto;
  position: relative;
}
.component__code {
  border: 1px solid var(--color-pink);
  margin-bottom: 4em;
  padding-bottom: 0.5em;   
  position: relative;  
}
.component__code:before,
.component__img:before {
  content: "CODE";
  display: block;
  padding: 0.35rem;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-gray);
  font-family: var(--font-sans-serif);
  font-size: 0.7em;
}
.component__img:before {
  content: "IMG";
}
.component__code h2 {
  display: inline-block;
  padding: 0.2em;
}

img {
  max-width: 100%;
  display: block;
}

/**
* .main-header
*/

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;   
}

.main-header__list li {
  list-style: none;
  justify-content: center;
  margin: 1.2em; 
  font-weight: 300; 
  font-size: 2vmin;
}
ul { 
  display: flex; 
  padding: 0; 
} 


/**
* .cover-section
*/
h2.cover-section__title {
  margin: 0;
  padding: 0;
}
.cover-section__container {
  display: flex;
  flex-direction: row;
}
.cover-section__text {
  padding: 3em;
}
.cover-section__text--solo {
  padding: 0;
}

/**
* .hero-section
*/

.hero-section {
  position: relative;
  text-align: center;
}

.hero-section__image {
  position: absolute;
  z-index: -10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-section__text {
padding: 2rem;
}

.hero-section__title {
  margin: 0;
  font-family: var(--font-serif);
  font-weight: bold;
  font-size: 4vmin;
  line-height: 1.2;
  font-weight: 400;
}
/*
@media (min-width: 50rem) {
  .hero-section__title {
    font-size: 3rem;
  }
}
*/

.project__text {
  font-size: 0.9rem;
  padding-top: 0.7em;
}
.project__image {
  cursor: url("https://img.icons8.com/ios/50/000000/long-arrow-right.png"), auto;
}

/**
** .subscribe-section
*/

.subscribe-section__text {
  font-size: 1.8em;
  font-weight: 500;
}
.subscribe-section__button {
  display: flex;
  justify-content: flex-end;
}

/**
** .page-footer
*/

.page-footer {
  font-size: 1.3em;
  background: var(--color-black);
  padding: 0.7em;
}
.page-footer a {
  text-decoration: none;
  color: var(--color-white);
}
.page-footer__links {
  display: flex;
  justify-content: space-between;
}

/**
* .cities
*/

.page-footer__cities {
  margin-left: 4em;
}
.locations-list li {
  padding: 0.6em;
  font-family: var(--font-serif);
}

/**
* .social-legal
*/

.page-footer__social, .page-footer__legal {
  font-size: 0.5em;
  margin-right: 9em;
  align-self: center;
}
.social-list li, .legal-list li {
  margin-left: 0.9em;
}
.social-link, .legal-link {
  border-bottom: 0.1em solid var(--color-white); 
}  
.page-footer__legal {
  display: flex;
  justify-content: flex-end; 
}
.legal-list,
.social-list,
.locations-list {
  margin: 0;
  line-height: 1.2;
}
