:root {
    --color-white: #fff;
    --color-black: #1a1a1a;
    --color-gray: #ccc;
    --color-pink: #ebceca;
    --font-serif: 'Sangbleu', serif;
    --font-sans-serif: 'Heebo', sans-serif;
    }

@font-face {
    font-family: Sangbleu;
    src: url(../fonts/SangBleuEmpire-Regular-WebTrial.woff);
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  /**
  *  Typography
  */

body {
    font-family: var(--font-sans-serif);
    margin: 2em;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 400;
}

h1 {
    font-family: var(--font-serif);
    line-height: 1.2;
}

h2, h3 {
    font-weight: 400;
}

.button {
    font-size: 0.6em;
}

.action-button {
    margin:  0;
}

a {
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 0.1em solid var(--color-black);
}


img {
    max-width: 100%;
    display: block;
}


.sid {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 1.3em;
}

.lee {
    font-family: var(--font-serif);
    font-size: 1.3em;
    font-weight: bold;
}

/**
* .component
*/

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--color-gray);
    overflow-x: auto;
}

.component__code {
    border: 1px solid var(--color-pink);
    padding-left: 2em;
}

.component__code h2 {
    display: inline-block;
    padding: 0.2em;
}

.hero__title {
    font-family: var(--font-serif);
    font-weight: bold;
    font-size: 2.2em;
    line-height: 1.2;
}

/**
* .main-header
*/

.main-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
}


.main-header__panel {
    display: flex;
}

.main-header__list li{
    list-style: none;
    justify-content: center;
    margin: 1.2em; 
}

ul { padding: 0; 
    display: flex; 
} 

/**
* .cover-section
*/

.cover-section__title {
    margin-bottom: 0;
}

.cover-section__wrapper {
    display: flex;
    flex-direction: row;
}

.cover-section__text {
    padding: 3em;
}
.what-if {
    display: block;
}

