<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components | sidlee</title>
    <link href="../css/normalize.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet" /> 
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
    </head>

    <body class="component-page">

      <header class="component-page__header">
        <h1 class="header-title">sidlee Web Components</h1>
          <!--
      <nav class="component-page__nav"> 

        <h2 class="component-page__nav-heading">
          <a href="#Typography">Typography</a>
        </h2>
        <ul class="component-page__nav-list">
          <li><a href="#body">body</a></li>
          <li>h1, h2, h3,..</li>
          <li>a</li>
        </ul>

        <h2 class="component-page__nav-heading">
            <a href="#Atoms">Atoms</a>
          </h2>
          <ul class="component-page__nav-list">
            <li><a href="#logo">logo</a></li>
            <li>page header item</li>
          </ul>
        
        <h2 class="component-page__nav-heading">
            <a href="#pageheader">Page Header</a>
          </h2>
          <ul class="component-page__nav-list">
            <li>page header item</li>
          </ul>

      </nav>
      -->
      </header>

      <h2> Typography Defaults</h2>

      <article class="component">
        <h3 class="component__name">Body</h3>
        <div class="component__img">
          <img 
          srcset="img/case-sutyd-text.png 1.2x"
          src="img/case-sutyd-text.png"
          alt ="body copy"
          />
        </div>
        <div class="component__code">
          <p>The North Face wanted to push the boundaries of what it means to be an outdoor brand and showcase <a href="https://www.thenorthface.com/featured/futurelight.html">FUTURELIGHT</a>, its newest and most advanced breathable-waterproof material made with nanospinning technology. Tested in the world’s toughest conditions, FUTURELIGHT is the first of its kind: waterproof gear that feels so soft it’s like a second skin, breathes as hard as you do, and defies what a breathable-waterproof fabric can be.
          </p>
        </div>
      </article>

      <article class="component">
          <h3 class="component__name">headings (h1, h2,..)</h3>
          <div class="component__img">
            <img 
            srcset="img/hero-section.png 2x"
            src="img/hero-section.png"
            alt ="h1 copy"
            />
            <img 
            srcset="img/h3.png 2x"
            src="img/h3.png"
            alt ="h3 copy"
            />
            <img 
            srcset="img/h2.png 2x"
            src="img/h2.png"
            alt ="h2 copy"
            />
          </div>

          <div class="component__code">
            <p>code goes here
            </p>
          </div>
        </article>
      





    </body>
    </html>
    
