<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Components | sidlee</title>
    <link href="../css/normalize.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet" /> 
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,500&display=swap" rel="stylesheet">
    </head>

    <body class="component-page">

      <header class="component-page__header">
        <h1 class="header-title">sidlee Web Components</h1>
      
      </header>

      <h2 class="component__title"> Typography</h2>

      <article class="component">
        <h3 class="component__title component__title--sub">Body</h3>
        <div class="component__img">
          <img 
          srcset="img/case-sutyd-text.png 1.2x"
          src="img/case-sutyd-text.png"
          alt ="body copy"
          />
        </div>
        <div class="component__code">
          <p>The North Face wanted to push the boundaries of what it means to be an outdoor brand and showcase <a class="button button--bigger" href="#!">FUTURELIGHT</a>, its newest and most advanced breathable-waterproof material made with nanospinning technology. Tested in the world’s toughest conditions, FUTURELIGHT is the first of its kind: waterproof gear that feels so soft it’s like a second skin, breathes as hard as you do, and defies what a breathable-waterproof fabric can be.
          </p>
        </div>
      </article>

      <article class="component">
          <h3 class="component__title component__title--sub">headings (h1, h2,..)</h3>
          <div class="component__img">
            <img 
            srcset="img/hero-section.png 2x"
            src="img/hero-section.png"
            alt ="h1 copy"
            />
            <img 
            srcset="img/h3.png 2x"
            src="img/h3.png"
            alt ="h3 copy"
            />
          </div>

          <div class="component__code">
            <h1><span class="block">We are a collective of brand</span><span class="block"> builders for the future.</span>
            </h1>
            <h3 class="centered-text"><span class="block">Our goal is to change the world through</span><span> creativity</span></h3>
          </div>
        </article>

        <h2 class="component__title"> Atoms</h2>

        <article class="component">
          <h3 class="component__title component__title--sub">Logo</h3>
          <div class="component__img">
            <img 
            src="img/logo.png"
            alt ="logo image"
            />
          </div>

          <div class="component__code">
            <span class="sid">sid</span><span class="lee">lee</span>
          </div>
        
        </article>

        <article class="component">
          <h3 class="component__title component__title--sub">Section Heading</h3>
          <div class="component__img">
            <img 
            srcset="img/hero-section.png 2x"
            src="img/hero-section.png"
            alt ="section heading image"
            />
          </div>

          <div class="component__code">
            <h2 class="hero__title"><span class="block">We are a collective of brand</span><span class="block"> builders for the future.</span>
          </h2>
          </div>
        </article>

        <h2 class="component__title"> Page Header</h2>

        <article class="component">
          <h3 class="component__title component__title--sub">Main Nav</h3>
          <div class="component__img">
            <img 
            src="img/header.png"
            alt ="page header image"
            />
          </div>

          <div class="component__code">

            <div class="main-header__wrapper">

            <div class="sidlee-logo">
              <span class="sid">sid</span><span class="lee">lee</span>
            </div>

          <nav class="main-header__panel">
            <ul class="main-header__list">
              <li><a href="#!">work</a></li>
              <li><a href="#!">about</a></li>
              <li><a href="#!">stories</a></li>
              <li><a href="#!">services</a></li>
              <li><a href="#!">careers</a></li>
              <li><a href="#!">meet us</a></li>
              <li><a href="#!">fr</a></li>
            </ul>
          </nav>

          </div>

        </div>
        </article>

        <article class="component">
            <h3 class="component__title component__title--sub">Main Nav List</h3>
            <div class="component__img">
              <img 
              src="img/main-nav-list.png"
              alt ="main nav list pic"
              />
            </div>
  
            <div class="component__code">
  
            <nav class="main-header__panel">
              <ul class="main-header__list">
                <li><a href="#!">work</a></li>
                <li><a href="#!">about</a></li>
                <li><a href="#!">stories</a></li>
                <li><a href="#!">services</a></li>
                <li><a href="#!">careers</a></li>
                <li><a href="#!">meet us</a></li>
                <li><a href="#!">fr</a></li>
              </ul>
            </nav>
  
            </div>
        </article>

        <h2 class="component__title"> Cover Section</h2>

        <article class="component">
          <h3 class="component__title component__title--sub">Cover Section</h3>
          <div class="component__img">
            <img 
            srcset="img/section-content.png 2x"
            src="img/section-content.png"
            alt ="cover section img"
            />
          </div>
  
          <div class="component__code">

            <div class="cover-section__wrapper">

              <div class="cover-section__image">
                <img src="img/cover-section__image.png" alt="cover img">
              </div>

              <div class="cover-section__text">
                <h2 class="cover-section__title"><span class="block">What if you could wear</span><span class="block"> the future?</span></h2>
                <p class="action-button"><a href="#!" class="button">View case study</a></p>
              </div>

            </div>
          </div>
            
        </article>

        <article class="component">
            <h3 class="component__title component__title--sub">Cover Section Contents</h3>
            <div class="component__img">
              <img 
              srcset="img/cover-section-content-text.png 1.5x"
              src="img/cover-section-content-text.png"
              alt ="cover section content text img"
              />
            </div>
  
            <div class="component__code">
                <div class="cover-section__text cover-section__text--solo">
                  <h2 class="cover-section__title"><span class="block">What if you could wear</span><span class="block"> the future?</span></h2>
                  <p class="action-button"><a href="#!" class="button">View case study</a></p>
                </div>
            </div>
        </article>

        <h2 class="component__title"> Page Footer</h2>

        <article class="component">
            <h3 class="component__title component__title--sub">Page Footer</h3>
            <div class="component__img">
              <img 
              srcset="img/sidlee-footer.png 1.2x"
              src="img/sidlee-footer.png"
              alt ="footer pic"
              />
            </div>

            <div class="component__code">
            <nav class="page-footer">

              <div class="page-footer__links">

           
            <div class="page-footer__cities">
                <ul class="locations-list">
                    <li><a href="#!">Mtl</a></li>
                    <li><a href="#!">To</a></li>
                    <li><a href="#!">Par</a></li>
                    <li><a href="#!">LA</a></li>
                    <li><a href="#!">NY</a></li>
                </ul>
            </div>

           
            <div class="page-footer__social">
              <ul class="social-list">
                  <li><a class="social-link" href="#!">facebook</a></li>
                  <li><a class="social-link" href="#!">twitter</a></li>
                  <li><a class="social-link" href="#!">instagram</a></li>
                  <li><a class="social-link" href="#!">sid lee collective</a></li>
                  <li><a class="social-link" href="#!">sid lee architecture.com</a></li>
                  <li><a class="social-link" href="#!">kyu.com</a></li>
              </ul>
            </div>

          </div>

            <div class="page-footer__legal">
              <ul class="legal-list">
                  <li><a class="legal-link" href="#!">our CSR</a></li>
                  <li><a class="legal-link" href="#!">privacy policy</a></li>
                  <li><span class="copyright">&copy; 2019 Sid Lee</span></li>
              </ul>
            </div>
         
          </nav>
          </div>
        </article>

        <article class="component">
            <h3 class="component__title component__title--sub">Cities Links</h3>
            <div class="component__img">
              <img
              srcset="img/footer-cities.png 1.2x"
              src="img/footer-cities.png"
              alt ="footer cities img"
              />
            </div>
  
            <div class="component__code">
              <div class="page-footer">
                <div class="page-footer__cities">
                    <ul class="locations-list">
                        <li><a href="#!">Mtl</a></li>
                        <li><a href="#!">To</a></li>
                        <li><a href="#!">Par</a></li>
                        <li><a href="#!">LA</a></li>
                        <li><a href="#!">NY</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </article>

    </body>
    </html>
    
