<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>sidlee Case Study</title>
    </head>

    <body class="component-page">

      <header class="component-page__header">
      <h1 class="header-title">sidlee</h1>

      <nav class="component-page__nav"> 
        <h2 class="component-page__nav-heading">
          <a href="#Typography">Typography</a>
        </h2>
        <ul class="component-page__nav-list">
          <li><a href="#body">body</a></li>
          <li>h1, h2, h3,..</li>
          <li>a</li>
        </ul>


      </nav>
      </header>
    </body>
    </html>
    
